body
{
    text-align: center;
}

.cardboard > ul
{
    text-align: left;
}

.article-title
{
    display: inline-block;
    margin: auto 20px;
    font-size: 50px;
    font-family: Malgun Gothic, Fallback, serif;
}

.list-button
{
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.cardboard > p
{
    padding: 10px;
}

.cardboard
{
    border: 2px solid lightgray;
    margin: 20px;
    display: inline-block;
    width: 500px;
    min-width: 500px;
    height: 500px;
    min-height: 500px;
    text-overflow: ellipsis;
}

.cardboard > p
{
    display: none;
    text-align: justify;
    hyphens: auto;
}

.koto-photo
{
    transition: all ease 1s;
    width: 100%;
    height: 60%;
}

.cat-name
{
    padding: 10px;
    width: 480px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-button:checked
{
    border: 2px lightgray inset;
}

.list-button:checked ~ .cat-site > .cardboard
{

    border-bottom: 2px solid lightgray;
    height: auto;
    display: block;
    margin: 30px auto;
}

.list-button:checked ~ .cat-site > .cardboard > ul
{
    display: none;
}

.list-button:checked ~ .cat-site > .cardboard > p
{
    display: block;
}

.cat-name:hover:first-letter
{
    color: #f00;
}

.cardboard:hover
{
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.article-title:hover:first-letter
{
    color: #f00;
}

.koto-photo:hover
{
    transform: rotate(360deg);
}

.cardboard > ul:hover
{
    font-weight: bold;
    font-style: oblique;
}

.cardboard > ul > li:hover:first-letter
{
    color: #f00;
}

.cardboard > p:hover
{
    font-style: italic;
}
